@import "tailwindcss";

/* Add to globals.css */
@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    opacity: 0.99;
  }
  20%,
  24%,
  55% {
    opacity: 0.4;
  }
}

.neon-text {
  text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff;
  animation: flicker 3s infinite;
}
